{% assign certifications = site.data.data.certifications %}
{% if certifications %}
  {% if site.data.data.sidebar.certifications %}
  <div class="certifications-container container-block">

    <h2 class="container-block-title">
      {{ certifications.title }}
    </h2>

    {% for cert in certifications.info %}
    <div class="item">
      {% if cert.link %}
        <span class="degree"><a href="{{ cert.link }}" target="_blank" rel="noopener noreferrer">{{ cert.name }}</a></span>
      {% else %}
        <span class="degree">{{ cert.name }}</span>
      {% endif %}
    </div><!--//item-->
    {% endfor %}

  </div><!--//certifications-container-->
  {% else %}
  <section class="section certifications-section">

    <h2 class="section-title">
      <span class="fa-stack fa-xs">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-certificate fa-stack-1x fa-inverse"></i>
      </span>
      {{ certifications.title }}
    </h2>

    {% for cert in certifications.info %}
    <div class="item">

      <div class="meta">
        <div class="upper-row">
          {% if cert.link %}
            <h3 class="cert-name"><a href="{{ cert.link }}" target="_blank" rel="noopener noreferrer">{{ cert.name }}</a></h3>
          {% else %}
            <h3 class="cert-name">{{ cert.name }}</h3>
          {% endif %}
        </div><!--//upper-row-->
      </div><!--//meta-->

    </div><!--//item-->
    {% endfor %}

  </section>
  {% endif %}
{% endif %}
