name: Build and Deploy Jekyll
# Workflow triggers on push to master branch

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

permissions:
  pages: write
  id-token: write

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.1
          bundler-cache: true

      - name: Build site
        run: bundle exec jekyll build

          - name: Upload Pages Artifact
        uses: actions/upload-pages-artifact@v2
        with:
          path: ./_site

      - name: Deploy to GitHub Pages
        if: github.event_name == 'push' && github.ref == 'refs/heads/master'
        id: deployment
        uses: actions/deploy-pages@v2
